<!DOCTYPE html>
<html lang="es" xmlns:c="">
<head>
    <meta charset="UTF-8">
    <title>Lista de Cuotas</title>
</head>
<body>
<h1>Lista de Cuotas</h1>
<table>
    <thead>
    <tr>
        <th>ID Cuota</th>
        <th>Estado de Cuota</th>
        <th>Monto</th>
        <th>Fecha de Pago</th>
    </tr>
    </thead>
    <tbody>
    <c:forEach items="${cuotas}" var="cuota">
        <tr>
            <td>${cuota.id_cuota}</td>
            <td>${cuota.estado_cuota == 0 ? 'Pendiente' : 'Pagado'}</td>
            <td>${cuota.monto}</td>
            <td>${cuota.fecha_pago}</td>
        </tr>
    </c:forEach>
    </tbody>
</table>

</body>
</html>
