<!DOCTYPE html>
<html lang="en" xmlns:c="" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Busqueda de cuotas de estudiante</title>
</head>
<body>
    <h1>Planilla de pagos del estudiante por Rut</h1>
    <form action="/studentRut" method="post">
        <label for="rut">Ingresa el Rut:</label>
        <input type="text" id="rut" name="rut" required>
        <button type="submit">Buscar Estudiante</button>
    </form>

    <div th:if="${student}">
        <h1>Datos del estudiante: </h1>
        <p>Nombre: <span th:text="${student.name}"></span></p>
        <p>Apellido: <span th:text="${student.last_name}"></span></p>
        <p>Rut: <span th:text="${student.rut}"></span></p>

        <p>Tipo de pago:
            <span th:switch="${student.payment_type}">
              <span th:case="0">Pago al contado</span>
              <span th:case="1">Pago en cuotas</span>
            </span>
        </p>
        <p>Número de cuotas: <span th:text="${student.installments}"></span></p>
        <p>Arancel (con descuento): <span th:text="${student.tariff}"></span></p>
        <p>Año de egreso: <span th:text="${student.senior_year}"></span></p>
        <p>Puntaje: <span th:text="${student.score}"></span></p>
        <p>Número de examenes: <span th:text="${student.num_exams}"></span></p>
    </div>
</body>
</html>